html, body {
height: 100%;
margin: 0;
padding: 0;
}

body::before {
content: "";
position: fixed;
top: -100px;
left: 0;
width: 100%;
height: calc(100% + 100px);
background-image: url('background.png');
background-size: cover;
background-repeat: no-repeat;
background-position: center top;
z-index: -1;
}

.header {
display: flex;
align-items: center;
justify-content: space-between;
background-color: rgba(255, 0, 0, 0.8);
height: 70px;
border-radius: 8px;
padding: 0 20px;
position: relative;
width: 100%;
box-sizing: border-box;
}

h1 {
font-family: 'Bebas Neue', sans-serif;
text-align: right;
padding-right: 43px;
width: 100%;
top: 15px;
margin: 0;
font-size: 3em;
letter-spacing: 8px;
}

.logo {
top: -12px;
left: 0px;
width: 100px;
height: auto;
}



.logo img {
width: 100%;
height: auto;
}

.header-row {
  display: flex;
  align-items: center;  
  width: 100%;    
  justify-content: space-between; 
  padding: 1rem;       
}

.title{
    flex-grow: 1;
    text-align: center;
    color: gold;
    font-size: 2rem;
    margin: 0;
}

.box {
    border: 2px solid goldenrod;
    border-radius: 5px;
    padding: 0.5em;
    background-color:gold;
    text-align: center;
    color: #ffffff;
    width: 80px;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
    font-size: large;

}

.spacer {
    width: 80px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav a {
    color: gold;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 2rem;
}

.plan h2 {
    color: #b30000;
    text-align: center;
}

.goals-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

.goal {
    flex: 1 1 30%;
    background-color:#1a1a1a;
    border-left: 5px solid gold;
    padding: 1rem;
    border-radius: 5px;
    color:#ffffff
}

.table {
  margin: 2rem 0;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #000;
  color: white;
}

th, td {
  border: 2px solid gold;       
  padding: 1rem;                
  text-align: center;
  vertical-align: top;
  background-color: #1a1a1a;    
  border-radius: 8px;           
}

th {
  background-color: #b30000;
  color: gold;
  font-size: 1.1rem;
}

.smallheader {
    background-color: #b30000;  
  color: gold;                 
  padding: 1rem;               
  margin: 0;                   
  text-align: center;        
  width: 100%;                 
  box-sizing: border-box;      
  font-size: 1.5rem;
  font-weight: bold;
}