body {
    margin: 0;
    font-family: 'Segoe UI',sans-serif;
    background-color: #000000;
    color: #ffffff
}

header {
    background-color: #b30000;
    padding: 1rem;
    text-align: center;
    color:gold;  
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav a {
    color: gold;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 2rem;
}

.plan h2 {
    color: #b30000;
    text-align: center;
}

.goals-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

.goal {
    flex: 1 1 30%;
    background-color:#000000;
    border-left: 5px solid gold;
    padding: 1rem;
    border-radius: 5px;
    color:#ffffff
}